@import "../../assets/typography.scss";
@import "../../assets/variables.scss";

.Card {
  border: 2px solid $primary-color;
  border-radius: 5px;
  padding: 10px;

  &_Title {
    text-decoration: underline;
    font-family: $primary-font;
  }

  &_Description {
    font-weight: 200;
    font-family: $primary-font;
  }
}